[submodule "moonlight-common-c"]
	path = moonlight-common-c/moonlight-common-c
	url = https://github.com/moonlight-stream/moonlight-common-c.git
[submodule "qmdnsengine"]
	path = qmdnsengine
	url = https://github.com/cgutman/qmdnsengine.git
[submodule "opus"]
	path = opus
	url = https://gitlab.xiph.org/xiph/opus.git
[submodule "h264bitstream/h264bitstream"]
	path = h264bitstream/h264bitstream
	url = https://github.com/aizvorski/h264bitstream.git
